{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}



<h1>Search Location</h1>

<form method="get">

  {{ location_list_filter.form |crispy }}

  <br>
  <center>
    <button class="btn btn-primary" type="submit">Search</button> <a class="btn btn-primary" href="{% url 'create_location' %} ">Create New Location</a>
  </center>

</form>

<br>
<br>


<br>
<br>
<h2>Locations List</h2>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>

      </tr>
    </thead>
    <tbody>
        {% for location in location_list_qs %}
        <tr>
            <th scope="row">{{location.name}}</th>
            <td><a href="{% url 'update_location' location.id %}"><button type="button" class="btn btn-info">Update</button></td></a>
            <td><a href="{% url 'delete_location' location.id %}"><button type="button" class="btn btn-danger">Delete</button></td></a>
        </tr>
        {% endfor %}
    </tbody>
</table>
    
<!-- Printer Pagination | Displays 10 location_list_qs per page-->
{% if location_list_qs.has_other_pages %}
<nav>
  <ul class="pagination justify-content-center">
    {% if location_list_qs.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ location_list_qs.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
          <span class="page-link" aria-hidden="true">&laquo;</span>
      </li>
    {% endif %}

    {% for p in location_list_qs.paginator.page_range %}
      {% if location_list_qs.number == p %}
        <li class="page-item"><a class="page-link" style="color: red;" href="#">{{ p }}</a></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
      {% endif %}
    {% endfor %}

    {% if location_list_qs.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ location_list_qs.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link" aria-hidden="true">&raquo;</span>
      </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
{% endblock content %}