{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<form method="get">
  <h1>Search Cartridge Product Number</h1>

    {{ cart_prod_list_filter.form |crispy }}
    <br>
    <center>
        <button class="btn btn-primary" type="submit">Search</button> <a class="btn btn-primary" href="{% url 'create_cartridge_product_no' %}">Create New</a>
    </center>
  </form>

  <br>
 
  <br>

  <center>
    <h2>Cartridge Product Number List</h2>
  </center>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>

      </tr>
    </thead>
    <tbody>
        {% for cartridge_product_no in cart_prod_list_qs %}
        <tr>
            <th scope="row">{{cartridge_product_no.name}}</th>
            <td><a href="{% url 'update_cartridge_product_no' cartridge_product_no.id %}"><button type="button" class="btn btn-info">Update</button></td></a>
            <td><a href="{% url 'delete_cartridge_product_no' cartridge_product_no.id %}"><button type="button" class="btn btn-danger">Delete</button></td></a>
        </tr>
        {% endfor %}
    </tbody>
</table>
    
{% if cart_prod_list_qs.has_other_pages %}
<nav>
  <ul class="pagination justify-content-center">
    {% if cart_prod_list_qs.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?{{ request.GET.urlencode }}&page={{ cart_prod_list_qs.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
          <span class="page-link" aria-hidden="true">&laquo;</span>
      </li>
    {% endif %}

    {% for p in cart_prod_list_qs.paginator.page_range %}
      {% if cart_prod_list_qs.number == p %}
        <li class="page-item"><a class="page-link" style="color: red;" href="#">{{ p }}</a></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?{{ request.GET.urlencode }}&page={{ p }}">{{ p }}</a></li>
      {% endif %}
    {% endfor %}

    {% if cart_prod_list_qs.has_next %}
      <li class="page-item">
        <a class="page-link" href="?{{ request.GET.urlencode }}&page={{ cart_prod_list_qs.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link" aria-hidden="true">&raquo;</span>
      </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
  

{% endblock content %}