{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}



  <!-- this form is filtering the Instock of Cartridges-->
  <form method="get">

    {{ cartridge_filter.form|crispy }}
  
    <button class="btn btn-primary" type="submit">Search</button>
  
  </form>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Cartridge Type</th>
        <th scope="col">Printer Model</th>
        <th scope="col">Cartridge Product No.</th>
        <th scope="col">Action</th>

      </tr>
    </thead>
    <tbody>

        {% for cartridge in cartridges_qs %}
         
            <tr>
                <th scope="row"> <a href="{% url 'cartridge_details' cartridge.id %}"> {{cartridge.name}}</a></th>
                <td>{{cartridge.status}}</td>
                <td>{{cartridge.printer_model}}</td>
                <td>{{cartridge.cart_prod_no}}</td>
                <td><a href="{% url 'install_cartridge' cartridge.id %}"><button type="button" class="btn btn-info">Install</button></td></a>
                <td><a href="{% url 'copy_cartridge' cartridge.id %}"><button type="button" class="btn btn-warning">Duplicate</button></td></a></td>
            </tr>
           
        {% endfor %}
    </tbody>
  </table>

{% comment %} <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?&page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <!-- https://stackoverflow.com/questions/52007038/pagination-using-listview-and-a-dynamic-filtered-queryset -->
            <a href="?{{ request.GET.urlencode }}&page={{ page_obj.next_page_number }}">next</a>
            <a href="?{{ request.GET.urlencode }}&page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>   {% endcomment %}

  <!-- pagination pages for cartridges. this will list 10 items per page-->
  {% if cartridges_qs.has_other_pages %}
  <nav>
    <ul class="pagination justify-content-center">
      {% if cartridges_qs.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?{{ request.GET.urlencode }}&page={{ cartridges_qs.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
            <span class="page-link" aria-hidden="true">&laquo;</span>
        </li>
      {% endif %}

      {% for p in cartridges_qs.paginator.page_range %}
        {% if cartridges_qs.number == p %}
          <li class="page-item"><a class="page-link" style="color: red;" href="#">{{ p }}</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?{{ request.GET.urlencode }}&page={{ p }}">{{ p }}</a></li>
        {% endif %}
      {% endfor %}

      {% if cartridges_qs.has_next %}
        <li class="page-item">
          <a class="page-link" href="?{{ request.GET.urlencode }}&page={{ cartridges_qs.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link" aria-hidden="true">&raquo;</span>
        </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
    



{% endblock content %}