{% extends 'base.html' %}


{% block content %}


<div class="row row-cols-1 row-cols-md-3 text-center">
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">Cartridge Out of Stock</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for cartridge in cartridges %}
        {% if cartridge.number_of_cartridges <= 0 %}
        <tr>
        <th scope="row">{{cartridge.name}}</th>
        <td>{{cartridge.number_of_cartridges}}</td>
      </tr>
    </tbody>
       {% endif %}
      {% endfor %}
  </table>

  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">Cartridges Count </th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for cartridge in cartridges %}

      {% if cartridge.number_of_cartridges > 0 %}
      <tr>
        <th scope="row">{{cartridge.name}}</th>
        <td>{{cartridge.number_of_cartridges}}</td>    
      </tr>
      {% endif %}

      {% endfor %}
    </tbody>
     
  </table>
</div>
{% endblock content %}