{% extends 'base.html' %}


{% block content %}

<div class="card-deck">
    <div class="card text-white bg-info">
    <div class="card-header"><h5 class="text-white" style="text-align: center">Out-of-Stock Cartridges</h5></div>
      <div class="card-body">
  
        {% for cartridge in cartridges %}
        {% if cartridge.number_of_cartridges == 0 %}
            <p style="text-align: center">{{cartridge.name}} | No Stock</p>
        {% endif %}
        {% endfor %}

      </div>
    </div>
    <div class="card text-white bg-primary">
        <div class="card-header"><h5 class="text-white" style="text-align: center">Printers</h5></div>
        <div class="card-body">
          {% for printer in printers %}
            <p style="text-align: center" >{{printer.name}} | {{printer.status}}</p>
          
          {% endfor %}
  
        </div>
      </div>



</div>
{% endblock content %}