{% if user.is_authenticated %}
<nav class="m-3 navbar navbar-expand-lg navbar-light text-white">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul id="rounded-border" class="navbar-nav me-auto  bg-primary ">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="{% url 'dashboard' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Cartridges
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'list_of_out_of_stock_cartridges' %}">Cartridges Counts</a>
            <a class="dropdown-item" href="{% url 'cartridge_list_instock' %}">List of Cartridges InStock</a>
            <a class="dropdown-item" href="{% url 'cartridge_list_installed' %}">List of Installed Cartridges</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'cartridge_create' %}">Add New Cartridge</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Printer
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'printer_list' %}">List of Printers</a>          
            <a class="dropdown-item" href="{% url 'printer_create' %}">Add New Printer</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Settings
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'list_printer_model' %}">Printer Model</a>
            <a class="dropdown-item" href="{% url 'list_cartridge_product_no' %}">Cartridge Product Number</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'list_location' %}">Locations</a>
            <a class="dropdown-item" href="{% url 'list_make' %}">Make</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'list_vendor' %}">Vendor</a>
            {% if request.user.is_staff %}
            <a class="dropdown-item" href=" {% url 'admin:index' %} ">Admin Page</a>
            {% endif %}
            
        
          </div>
        </li>
      </ul>
      
      <br>
      <p id="rounded-border" class="bg-primary"> Welcome Back! {{ user.get_username.capitalize }}, 
        
        {% if request.user.is_staff %}
            You are Logged in as an Administrator
        {% endif %}
        
        | <a class="text-warning" href="{% url 'logout'%}?next={{request.path}}">Logout</a></p>
      {% else %}
      {% endif %}

    </div>
  </nav>